$white: #fff;
$pink: #FFF3EB;
$orange: #FF8B37;
$orange5: #FFF3EB;
$black: #1C1C21;
$black40: #E5E5E5;
$orange80: #FFAC70;
$green100: #47D867;
$green5: #E6FAEA;
$red5: #FDEEED;
$red100: #EC6259;
$blue: royalblue;
$yellow: yellow;
$grey: grey;
$greyLight: #D0D0D8;
